.main-1{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
}
.sub-1 p{
    color: aqua;
}
.main-2{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
}
.main-2 > p{
    color: pink;
  
}
.main-3{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
}
.main-3 + p{
    color: yellow;
}
.main-4{
    height: 600px;
    width: 600px;
    background-color: blueviolet;
    font-size: 28px;
    padding: 20px 20px 20px 20px;
    border: 7px solid yellowgreen;
}
p::first-line{
    color: aquamarine;
}
p::selection{
    color: yellowgreen;
    background-color: red
}
.main-5{
    height: 200px;
    width: 300px;
    background-color: black;
    text-align: center;
    padding: 50px;
}
a:hover{
    background-color: aqua;
    color: blueviolet;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2rem;
    padding: 30px;
    text-decoration: none;
    border-radius: 20px;


}